.advantages {
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Список приемуществ*/
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Настоящий городок*/
/*Там есть мост дьявола*/
/*Небольшая площадь*/
/*Красивая дорога*/
/*Мало туристов*/
.advantages__title {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

/*№1 Седона не атракцион для туристов*/
/*№2 По нему можно пройти!*/
/*№3 Все интересные места находятся очень близко*/
/*№4 Ехать в Седону из Лас-Вегаса совсем не скучно!*/
/*№5 Большинство едет в Гранд Каньон*/
.advantages__description,
.advantages__title-numeral {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/*Настоящий городок*/
/*Там есть мост дьявола*/
.advantages__description--type-1,
.advantages__item--type-1,
.advantages__title--type-1,
.advantages__title-numeral--type-1 {
  color: @base-white;
  background-color: @blue-matt;
}

/*Не большая площадь*/
/*Красивая дорога*/
/*Мало туристов*/
.advantages__item--type-2,
.advantages__title--type-2,
.advantages__title-description--type-2,
.advantages__title-numeral--type-2 {
  color: @base-black;
  background-color: @base-white;
}

.advantages__block-first {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 256px;
    width: 100%;
    text-align: center;
  }
}

.advantages__picture {
  list-style: none;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.advantages__block-second {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
  }
}

.advantages__list-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Небольшая площадь, Красивая дорога,  Еда */
.advantages__list-container {
  list-style: none;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.advantages__picture-title {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__picture-description {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
