.form-review {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

/*Представьтесь*/
/*Контактная информация*/
/*Ваше Оощее впечатление*/
/*Посещенные достопримечательности*/
.form-review__title {
  color: @base-black;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

/*ul*/
.form-review__guest-name {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Имя Фамилия Отчество, Контактный тел.: Элюпочта:*/
.form-review__label {
  color: @brown;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

/*Скорее полож..и т.п., Мост Дьявола... и т.п.*/
.form-review__variant {
  color: @base-black;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

/*Петр Иванов Александрович*/
.form-review__input {
  color: @base-black;
  background-color: @gray-lightest;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  outline: none;
  border: none;
}

/* Контактная информация: */
.form-review__contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Ваше общее впечатление*/
.form-review__opinion {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Посещенные достопримечательности*/
.form-review__visited {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Опишите подробно все свои эмоции*/
.form-review__emotion {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-review__emotion-wrapper {
  background-color: @gray-lightest;
  list-style-type: none;
}

.form-review__guest-emotion {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  resize: none;
}

/*Кнопка ОТПРАВИТЬ ОТЗЫВ*/
.form-review__button button {
  color: @base-white;
  background-color: @blue-matt;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  outline: none;
  border: none;
  width: 280px;
  height: 58px;
}
