/*ФОНОВЫЕ изображения*/
/* Постер Седона */
.header-presentation__poster {
  min-width: 256px;
  min-height: 389px;
  background-image: url("../img/back-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Текст над постером*/
/*.header-presentation__slogan {
  width: 282px;
  height: 214px;
  background-image: url("../img/text-index.svg");
  background-repeat: no-repeat;
}*/
