.media-preview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

/*ul*/
.media-preview__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Местная растительность - Дорога на север и т.п.*/
.media-preview__caption {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

/*Автор фото: Сергей и т.п.*/
.media-preview__author {
  color: @brown;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*коллю лайков*/
.media-preview__item-text {
  color: @base-black;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

/*Фото "Не родные просторы"*/
.media-preview__poster-1 {
  width: 280px;
  height: 280px;
  background-image: url("../img/photo-1-mobile.jpg");
  background-repeat: no-repeat;
}

/*Фото Местная растительность*/
.media-preview__poster-2 {
  width: 280px;
  height: 280px;
  background-image: url("../img/photo-2-mobile.jpg");
  background-repeat: no-repeat;
}

/*Фото Дорога на север*/
.media-preview__poster-3 {
  width: 280px;
  height: 280px;
  background-image: url("../img/photo-3-mobile.jpg");
  background-repeat: no-repeat;
}

/*Фото Мост дьявола*/
.media-preview__poster-4 {
  width: 280px;
  height: 280px;
  background-image: url("../img/photo-4-mobile.jpg");
  background-repeat: no-repeat;
}
