.page-body {
  font-family: "PT Sans", sans-serif;
  min-width: 320px;
  margin: 0;
  font-weight: 400;
  color: @base-black;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: @gray-light;
}

.page-body__wrapper {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1200px;
  }
}
