/*ПОДВАЛ*/
.page-footer {
  background-color: @base-white;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.page-footer__wrapper {
  background-color: @base-white;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

/*Блок Social*/
.social__list {
  outline-color: @blue;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
  display: flex;
}

/*Элементы в Блоке Social*/
.social__item {
  margin: auto;
}

/*Блок #VISITSEDONA*/
.page-footer__hashtag {
  outline-color: @blue;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    flex-basis: 136px;
  }
}

/*Social*/
.page-footer__social {
  outline-color: @blue;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    flex-basis: 151px;
  }
}

/*Copyright*/
.page-footer__copyright {
  outline-color: @blue;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
  display: flex;

  @media (min-width: @tablet-width) {
    flex-basis: 128px;
  }
}

/*#VISITSEDONA*/
.page-footer__hashtag-visit {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
