/*ПОДВАЛ*/
.page-footer {
  background-color: @base-white;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.page-footer__wrapper {
  background-color: @base-white;
}

/*#VISITSEDONA*/
.page-footer__hashtag__visit {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

/*Social*/
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Twitter, Facebook, Youtube*/
.social__item {
  background-color: @blue-dim;
}

/*Copyright*/
.copyright__text {
  color: @base-black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
