.video-preview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.video-preview__background {
  width: 280px;
  height: 280px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
}

/*Все еще сомневаетесь?*/
.video-preview__caption-video {
  color: @base-black;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

/*Смотрите видеопрезентацию...*/
.video-preview__subtitle-video {
  color: @brown;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
