.video-preview {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline-color: @red-orange;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}

.video-preview-background {
  width: 280px;
  height: 280px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
}
