/* Colors */

@color-1: #FFFFFF; //white
@color-2: #81B3D2;
@color-3: #333333;
@color-4: #000000; //black
@color-5: #DC6243;
@color-6: #81B3D3;
@color-7: #766458;
@color-8: #491213;
@color-9: #23A9E1;
@color-10: #D6D6D6;
@color-11: #EEEEEE;
@color-12: #F49774;
@color-13: #F4B1A4;
@color-14: #E7E5E5;
@color-15: #669EC0;
@color-16: #5496BD;
@color-17: #E5E5E5;
